<div class="container">
  <section class="header-container">
    <%= image_tag "neo-travail.jpg", alt: "Image du logo de Néo-travail" %>

    <div>
      <h4 class="mb-0">Le podcast qui explore le travail de demain</h4>
      <p>by Hélène & Laëtitia</p>
    </div>
  </section>

  <hr>

  <section class="decription-container text-justify my-5">
    <p class="mb-2">Pourquoi est-ce que l’on travaille ? Comment trouver une ou des activités qui font sens pour soi et pour la planète ? 
    Et si chacun.e pouvait réinventer sa façon de travailler ?</p>
    <p>Nous explorons avec nos invité.es des alternatives pour travailler autrement : 
    néo-artisans, slasheurs, indépendants, makers, job-crafteurs, inventeurs, etc. 
    Nous partons à la rencontre de celles et ceux qui libèrent le travail et définissent 
    de nouvelles formes de collaboration nécessaires à la transition vers un monde plus écologique, plus solidaire et plus inclusif.</p>
  </section>

  <hr>

  <section class="plateform-container p-3">
    <%= link_to "https://soundcloud.com/user-23653367", target: "_blank" do %>
      <%= image_tag "soundcloud.png", class:"logo-platform mr-4"%>
    <% end %>
    <%= image_tag "spotify.png", class:"logo-platform mr-4" %>
    <%= image_tag "deezer.png", class:"logo-platform mr-4" %>
    <%= image_tag "applepodcast.png", class:"logo-platform" %>
  </section>
</div>

<section class="streaming-episodes-container">
  <%= render 'shared/episode', collection: @episodes %>
</section>

<%= render 'shared/newsletter' %>
